*{
    background-color: rgb(252, 243, 233);
}

a:link{
    font-size: 2rem;
}

.manyThings{
    list-style-type: square;
    margin: 0.5rem;
}

.box p{
    color:violet
}

.box p:first-child{
    color:tomato
}

h1, h2, .intro{
    border: 1px solid black;
    padding: 0.5rem;
}

